<div id="UI" style="display:none;">
    <div class="taskbar">
        <div class="start-menu"></div>
        <div class="program-list-task">
            <h4 id="text-program">MaterialOS <small style="color:#1c5a75; font-size:12px;">beta</small></h4>
        </div>
        <h3 id="time-system" class="pull-right">...</h3>
    </div>

    <div class="start-menu-form hide">
        <div class="menu-element">
            <div class="item-element">
                Programmes
            </div>
        </div>
        <div class="bottom-fix">
            <button class="btn-material btn-blue-bg btn-block btn-white " name="__System_Reboot">
                Redémarrer
            </button>
        </div>
    </div>

    <div class="screener">
        <div class="grid-app"></div>
    </div>

</div>
<script type="text/javascript" src="./System/Core/controllers/UI.js"></script>