<style>
    div#boot {
        position:fixed;
        left: 0;
        top:0;
        background: white;
        color:black;
        height:100%;
        width:100%;
        z-index:0;
    }

    .log-group p {
        color:black;
        transform: rotateX(-36deg) rotateY(28deg) rotateZ(40deg);
        text-shadow:rgba(0, 0, 0, 0.06) 9px 10px 4px;
    }
    .log-group {
        position:fixed;
        z-index: 10;
        bottom:55px;
        right:-46px;
        display:none;
    }

    .textApp {
        position:absolute;
        width:100%;
        text-align:center;
        margin-top: -100px;
        margin-left:-15px;
        color:#fb5961;
    }

    .textApp p
    {
        font-size: 12px;
        font-weight:100;
    }
    .textApp p strong {
        font-weight: 600;
    }
    #boot img {
        max-width: 800px;
        width: 100%;
    }

    @media (max-height: 600px) {
        #boot img {
            max-height: 350px;
            width:auto;
        }
        .textApp {
            margin-top: -40px;
        }
    }


    @media (max-height: 400px) {
        #boot img {
            max-height: 250px;
            width:auto;
        }
        .textApp {
            margin-top: -40px;
        }
    }

    @media (max-width: 600px) {
        #boot img {
            max-height: 250px;
            width:auto;
        }
        .textApp {
            margin-top: -40px;
        }
    }

    .bootContent {
        position:relative;
        height:auto;
    }
</style>
<div id="boot">
	<div class="container text-center bootContent">
        <img src="{ROOT}/components/images/load.gif"/>

        <h1 class="textApp">
            {APPNAME}
            <br/>
            <hr style="margin:20px auto;border-top:1px solid rgba(252, 89, 97, 0.3);width:35%;"/>
            <p class="text-boot-event">Initialisation des élèments...</p>
        </h1>
    </div>
</div>