.shortcut-app {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    user-select: none;
    margin: 10px 10px;
    z-index:2;
    vertical-align:top;
}

.shortcut-app img {
    width: 100%;
}
.grid-app {
    padding:2px;
}
@media (max-width: 500px)
{
    .shortcut-app {
        margin: auto;
        width: 100px;
    }
    .grid-app {
        text-align:center;
    }
}

@media (max-width: 400px)
{
    .shortcut-app {
        width: 90px;
    }
}

.shortcut-app label {
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.shortcut-app.waitopen img{
    filter: grayscale(100%);
}
.shortcut-app.waitopen::before {
    position: absolute;
    top: -20px;
    margin-top: 10px;
    left: 25%;
    width: 50%;
    height: 15px;
    content: '';
    background: url('https://d2x5ku95bkycr3.cloudfront.net/img/loading.gif') no-repeat center center;
    background-size: 100%;
    opacity: 1;
    z-index:0;
}

body.running {
    overflow: hidden;
}

.hide {
display:none;
}

.darkbg
{
    background: rgba(0,0,0,0.5);
    height:100%;
    top: 51px;
    left:0px;
    width:100%;
    position:fixed;
    z-index:1000;
    cursor:pointer;
}