.taskbar {
    width: 100%;
    height: 50px;
    background: #03a9f4;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
    z-index:9999;
}

.taskbar .start-menu {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    width: 60px;
    height: 50px;
    cursor: pointer;
    float: left;
}

.taskbar #text-program {
    display: inline-block;
    color: white;
    margin: 11px;
    float: left;
    font-weight: 100;
}

.taskbar .start-menu::after {
    position: absolute;
    content: '';
    left: 12px;
    top: 7px;
    width: 35px;
    height: 35px;
    background: url('../../Core/components/logo2.png') center center;
    background-size: cover;
}

.taskbar .start-menu:hover {
    background: rgba(0, 0, 0, 0.2);
}


.taskbar .program-list-task {
    display:inline-block;
    white-space: nowrap;
    overflow-x:auto;
    position:absolute; z-index:9999;
}

.taskbar .program-task {
    border-bottom: white solid 0px;
    display: inline-block;
    padding: 11px;
    margin: 0px 10px;
    color: white;
}
.taskbar .program-task.open {
    background: rgba(255, 255, 255, 0.29);
    border-bottom: white solid 3px;
}

.appico {
    margin-left: -28px;
    width: 20px;
    position: absolute;
    margin-top: 2px;
}

.nicescroll-cursors {
    opacity: .2;
}


.start-menu-form .bottom-fix
{
    position:fixed;
    bottom:0;
    left:0;
}
.start-menu-form .menu-element
{
    overflow:auto;
}

.start-menu-form .bottom-fix button {
    border-radius: 0!important;
}

.start-menu-form .bottom-fix
{
    position:fixed;
    bottom:0;
    left:0;
}


.start-menu-form
{
    width: 80%;
    height: 100%;
    background: white;
    position:absolute;
    top: 51px;
    z-index:1001;
    border-radius: 0px 0px 0px 0px;
    max-width:400px;
}


.start-menu-form .menu-element .item-element
{
    position:relative;
    padding: 15px;
    cursor: pointer;
    user-select: none;
}
.start-menu-form .menu-element .item-element::after {
    background: url('./components/images/chevron-right.png') center;
    background-size:cover;
    content: '';
    position:absolute;
    right: 10px;
    top:12px;
    height: 30px;
    width: 30px;
}
.start-menu-form .menu-element .item-element:hover
{
    background:rgba(128, 128, 128, 0.16);
}