.winForm {
    border: solid #03a9f4 2px;
    display: inline-block;
    position: absolute;
    background: white;
}

.winForm .win-title {
    background: #03a9f4;
    color: white;
    padding: 13px 10px;
    user-select: none;
}

.winForm .win-title h4 {
    margin: 0;
    text-align: left;
    z-index: 1;
    position:relative;
}

.winForm .win-body {
    position: relative;
    padding: 1px;
    height: calc(100% - 46px);
    overflow:hidden;
}

.winForm:not(.state-maximized) .win-body .e-resizable {
    cursor: nwse-resize;
    position: absolute;
    bottom: 7px;
    right: 1px;
    background: url('./components/images/wingrip.png') no-repeat;
    width: 16px;
    height: 16px;
}

.winForm.focused {
    box-shadow: rgba(0, 0, 0, 0.5) -1px 1px 10px;
    z-index: 200!important;
}

.winForm .win-title i {
    position:relative;
    z-index: 9999;
    font-size: 25px;
    margin: 0px 8px;
    cursor: pointer;
}

.winForm.state-minimized
{
    display:none;
}
.zoomIn, .zoomOut {
    animation-duration: .2s!important;
}

.btn-material {
    padding: 10px;
    border:none;
    border-radius:2px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.btn-white {
    color:white!important;
}

.btn-blue-bg
{
    background: #03a9f4;
}
btn-block {
    width: 100%;
}
