body.boot {
    background: black!important;
    color: white!important;
    font-size:60%;
}
body.running {
     background: white;
     color: black;
 }
#materialos h3#time-system{
    color:white;
    font-size: 14px;
    margin: 17px 11px;
}
#materialos .log-group
{
    margin: 20px;
}

p.log {
    position:relative;
    z-index:2;
    text-align:right;
    line-height: 10px;
}
p.log.log-small {
    font-size:12px;
}
p.log strong {
    color: #d0d693;
}
p.log .system-text {
    margin-left: 10px;
    margin-bottom:0;
    font-weight:bold;
    width:30px;
}

.color-red {
    color: red;
}

.color-green {
    color: #00bf00;
}

.systemCenterEvent {
    cursor: pointer;
    user-select: none;
    color:white;
    text-align:center;
    width: 80%;
    float:right;
    position:fixed;
    z-index: 10000;
    padding : 10px 20px;
    bottom: 25px;
    left: 10%;
    background: #212121;
}
.fast-animation {
    animation-duration: 0.2s!important;
}
.systemCenterEvent p {
    margin: 0;
}

.systemAlert
{
    cursor: pointer;
    user-select: none;
    max-width: 300px;
    width: 100%;
    float:right;
    position:fixed;
    z-index: 10000;
    bottom: 10px;
    right: 10px ;
    padding : 10px 20px;
}
.systemAlert p {
    font-size: 12px;
    margin: 0;
}
.systemAlert.warning
{
    background:#ff8e14;
    color:white;
}

.systemAlert.critical {
    background:#ff3f14;
    color:white;
}