<div class="win-title">
    <h4>Mes clients</h4>
</div>
<div class="win-body">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Gestion</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>